.shop-category {
    display: flex; 
    flex-direction: column;
    width : 100%;

}
.shopcategory-banner {
    display: block; 
    width: 82%; 
    margin: 30px auto; 
}
.shopcategory-indexSort {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 0px 170px;
}
.shopcategory-sort {
   padding: 10px 20px; 
   border: 1px solid #888; 
   border-radius: 40px;

}
.shopcategory-indexSort p span{
 font-weight: 600;
}
.shopCategory-product {
display: grid; 
margin: 20px 170px; 
grid-template-columns: 1fr 1fr 1fr 1fr;
row-gap: 80px;
column-gap: 30px;
}
.shopcategory-indexSort p {
font-size: 16px;
}
.load-more {
    background: #ededed;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #787878; 
    padding: 20px;
    border-radius: 15px; 
    font-size: 18px; 
    font-weight: 500;
    width: 130px;
    height: 25px;
    margin: 80px auto;
}